.navbar{
    text-align: center;
    background-color: #7FC4FB;
    color: whitesmoke;
}



@media (max-width: 765px) {
    .navbar{
      float: none !important;
      display: inline-block !important;
    }
    .navbar{
      float: none !important;
    }
  }